// ======================================================================================
// Containers
// ======================================================================================
.container
  +large-a
    width: 960px
    margin: 0 auto
  +large-b
    width: 1024px
    margin: 0 auto

// ======================================================================================
// Content
// ======================================================================================
.main-content
  margin-bottom: 0.8em
  &::before, &::after
    content: ""
    display: table
    clear: both
  .content, .sidebar
    display: inline-block
    vertical-align: top
    +prefix(box-sizing, border-box)
  .content
    width: 69.5%
    margin-right: 1%
  .sidebar
    width: 29.5%
    margin-right: 0
  &.no-margin
    .content
      width: 70%
      margin-right: 0
    .sidebar
      width: 30%
      margin-right: 0
  &.sidebar-left
    .content
      width: 69.5%
      margin-right: 0
    .sidebar
      width: 29.5%
      margin-right: 1%
    &.no-margin
      .content
        width: 70%
        margin-right: 0
      .sidebar
        width: 30%
        margin-right: 0
  &.sidebars
    .content
      width: 49%
      margin-right: 1%
    .sidebar
      width: 24.5%
      margin-right: 1%
      &:last-child
        margin-right: 0
    &.no-margin
      .content
        width: 50%
        margin-right: 0
      .sidebar
        width: 25%
        margin-right: 0

//Styles for examples (Delete)
.content, .sidebar
  padding: 0.5em
  background: rgba($black, 0.5)
  text-align: center
  color: $white

.main-content
  .sidebar
    border-right: 0
  &.sidebar-left
    .content
      border-right: 0

.main-content   
  &.no-margin
    .content
      border-right: 1px solid rgba($black, 0.2)
    &.sidebar-left
      .sidebar
        border-right: 1px solid rgba($black, 0.2)
      .content
        border-right: 0
    &.sidebars
      .sidebar
        border-right: 1px solid rgba($black, 0.2)
        &:last-child
          border-right: 0