---
title: Projects
body_class: home
---
%section#wrapper-content
  .container
    %h1 Grid system
    %p Based on 6 columns.
    %p This system of grids is intended for those developers who think 12 columns are too
    .boxes-one
      .box
        Box One

    .boxes-two
      .box
        Box Two
      .box
        Box Two

    .boxes-three
      .box
        Box Three
      .box
        Box Three
      .box
        Box Three

    .boxes-four
      .box
        Box Four
      .box
        Box Four
      .box
        Box Four
      .box
        Box Four

    .boxes-five
      .box
        Box Five
      .box
        Box Five
      .box
        Box Five
      .box
        Box Five
      .box
        Box Five

    .boxes-six
      .box
        Box Six
      .box
        Box Six
      .box
        Box Six
      .box
        Box Six
      .box
        Box Six
      .box
        Box Six

    %p Without margin
    .boxes-one
      .box
        Box One

    .boxes-two.no-margin
      .box
        Box Two
      .box
        Box Two

    .boxes-three.no-margin
      .box
        Box Three
      .box
        Box Three
      .box
        Box Three

    .boxes-four.no-margin
      .box
        Box Four
      .box
        Box Four
      .box
        Box Four
      .box
        Box Four

    .boxes-five.no-margin
      .box
        Box Five
      .box
        Box Five
      .box
        Box Five
      .box
        Box Five
      .box
        Box Five

    .boxes-six.no-margin
      .box
        Box Six
      .box
        Box Six
      .box
        Box Six
      .box
        Box Six
      .box
        Box Six
      .box
        Box Six

    %h1 Layout System
    %p Main content & Sidebar
    .main-content
      .content
        Content
      .sidebar
        Sidebar Right

    .main-content.sidebar-left
      %aside.sidebar
        Sidebar Left
      %section.content
        Content
    
    .main-content.sidebars
      %aside.sidebar
        Sidebar Left
      %section.content
        Content
      %aside.sidebar
        Sidebar Right

    %p Without margin
    .main-content.no-margin
      %section.content
        Content
      %aside.sidebar
        Sidebar Right

    .main-content.sidebar-left.no-margin
      %aside.sidebar
        Sidebar Left
      %section.content
        Content
    
    .main-content.sidebars.no-margin
      %aside.sidebar
        Sidebar Left
      %section.content
        Content
      %aside.sidebar
        Sidebar Right


