%section#wrapper-content
  %section.content
    %section.main-content
      %h1 Main Title
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea illo maiores repellat, obcaecati error provident. Et ad cum, id quisquam libero repudiandae voluptatem amet ducimus temporibus! Nulla expedita architecto natus alias, consectetur perspiciatis, ipsam blanditiis exercitationem laborum similique dicta reiciendis.
    %aside.sidebar
      %div.widget
